################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LearnOpenGL/v16
resources/textures/WoddenBox_specular2.png
